extends layout.pug

block content

  article.portfolio-intro

    h1 TaLea's Portfolio

    p Welcome to my programming portfolio! The projects showcased here are fresh off the press - created in Spring/Summer of 2022. Enjoy!


  article.portfolio-project-thumbs
    .projects-box.box.grid
        each project in projects
            .cell
              a(href=`/project/${project.id}`)
                 img.thumbnail(src=`${project.image_urls[0]}`, alt='thumbnail image of project')
                 h5 #{project.project_name}

